In [1]:
import pandas as pd

# October

In [2]:
df = pd.read_csv('october_2023.csv')

In [3]:
df

    CUSTOMER        DATE     CASH_FLOW
0        CVS  2023-10-02 -2.271985e+08
1     KROGER  2023-10-02 -4.474187e+07
2        CVS  2023-10-03 -2.208724e+08
3     KROGER  2023-10-03 -1.009977e+08
4        CVS  2023-10-04 -1.373702e+08
..       ...         ...           ...
99    KROGER  2023-10-29           NaN
100      CVS  2023-10-30 -2.100667e+08
101   KROGER  2023-10-30 -3.908128e+07
102      CVS  2023-10-31 -2.503028e+08
103   KROGER  2023-10-31 -8.121901e+07

[104 rows x 3 columns]